global
  maxconn 100

defaults
  log global
  mode tcp
  retries 2
  timeout client 30m
  timeout connect 4s
  timeout server 30m
  timeout check 5s

frontend ft_pgsql
  bind 0.0.0.0:5432 name pgsql
  default_backend bk_pgsql

backend bk_pgsql
  option httpchk GET /healthz
  http-check expect string primary
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

  server pg1 pg1:5432 maxconn 100 check addr pg-health1 port 8000
  server pg2 pg2:5432 maxconn 100 check addr pg-health2 port 8000
